{% extends "layout.html" %}
{% load static %}

{% block script %}
{% endblock %}

{% block nav %}
    <li class="nav-item d-flex justify-content-end">
      <a href="{% url "home" %}" class="btn btn-dark me-3" id="home">Back</a>
    </li>
    <li class="nav-item d-flex justify-content-end">
      <a href="{% url "logout" %}" class="btn btn-dark me-3" id="logout">Log Out</a>
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <p class="fs-4 fw-semibold mb-3">Question {{ question.id }}</p>
        <div class="container border border-dark mb-3">
            <div class="row">
                <div class="col-6 border-end border-dark">
                    <img src="{{ question.question_image.url }}" class="img-fluid" alt="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Fdefault-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_33011701.htm&psig=AOvVaw0IR2NPn9C3SH9F9y0bOe40&ust=1723553371467000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNi53-W-74cDFQAAAAAdAAAAABAS">
                </div>
                <div class="col-6">
                    <div class="row mb-1">
                        <p class="text-break">Description: {{ question.question_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" id="new_answer">
        <p class="fs-3 fw-semibold mb-3">Your Answer</p>
        <form enctype="multipart/form-data" action="{% url 'new_answer' question_id %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="row mb-3">
                    <div class="col-4">
                        <!-- To centralise -->
                    </div>
                    <div class="col-4">
                        <div class="fieldWrapper">
                            <div class="row mb-3">
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mb-3">
                                {{ field.label_tag }}
                            </div>
                            <div class="row mb-3">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-5">
                    <!-- To centralise -->
                </div>
                <div class="col-1">
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}